@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@700&family=Marck+Script&family=Oswald:wght@600&family=Pacifico&display=swap');

body, html {
    height: 100%;
    width: 100%;
    color: #40322F;
}

div {
    font-family: 'Cousine', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

a {
    color: #40322F;
}

a:hover {
    color: #40322F;
}

.form-input{
    background-color: transparent !important;
    border: 1px solid #40322F !important;
}

.form-input:focus{
    box-shadow: 5px 5px 5px 0 #40322F !important;
}

.form-select{
    background-color: transparent !important;
    border: 1px solid #40322F !important;
}

.form-select:focus{
    box-shadow: 5px 5px 5px 0 #40322F !important;
}

.form-select:after{
    box-shadow: 5px 5px 5px 0 #40322F !important;
}

.form-check-box {
    background-color: transparent !important;
}

.form-check-box input{
    background-color: white !important;
}

.form-check-box input:focus {
    border: 1px solid #40322F !important;
    box-shadow: 2px 2px 2px 0 #40322F !important;
    outline: none !important;
}

.form-check-box input:checked {
    background-color: #40322F !important;
    outline: none !important;
}

.option{
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
}

@media screen and (max-width: 574px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    p, a {
        font-size: 12px;
    }

    strong {
        font-size: 10px;
    }
}

@media screen and (min-width: 576px) {
    h1 {
        font-size: 33px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    p, a {
        font-size: 16px;
    }

    strong {
        font-size: 13px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 20px;
    }

    p, a {
        font-size: 16px;
    }

    strong {
        font-size: 13px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 25px;
    }

    p, a {
        font-size: 20px;
    }

    strong {
        font-size: 15px;
    }
}